.col-1, .col-2, .col-3 {
  float: left;
}

.col-1 {
  width: 45%;
  padding: 0 5% 0 2.5%;
}

.col-2, .col-3 {
  width: 27.5%;
  padding: 0 2.5%;
}

.homepage_content h2 {
  font-size: 1.1rem;
  text-transform: uppercase;
}
